body {
    
}

.login-main-container{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.login-main-container p {
  text-decoration: none;
  color: white;
  text-align:center;
}

.login-main-container a{
  text-decoration: none;
}

.login-main-container span{
  color: rgba(234, 238, 19,0.5);
}

.login-main-container span:hover{
  color: rgba(234, 238, 19);
}


.headerText, .headerText2 {
    color: white;
}

.headerText2{
  margin-top:2rem;
}

.headerTextLogo{
  display: flex;
  flex-direction: column;
}

.headerTextLogoLeft{
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  color: rgba(234, 238, 19);
  transition: all 0.3s ease-in-out;
}

.headerTextLogoRight{
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 32px;
  margin-left: 5.5rem;
  color: rgba(255, 255, 255);
  transition: all 0.3s ease-in-out;
}

.header-container {
    display:flex;
    gap:1rem;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
  }

  .login-container {
    margin-top: 2rem;
    height: 60%;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px;

  }
  .textBox-login {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    opacity: 0.8;
  }
  .btn-login {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #232526;
    border-radius: 8px;
  }

  .btn-login:hover {
    background-color: black;
    cursor:pointer;
  }

  .google-login {
    background-color: rgba(234, 238, 19, 0.6);
  }

  .google-login:hover {
    background-color: rgba(234, 238, 19, 0.8);
    cursor: pointer;

  }

  .login div {
    margin-top: 7px;
  }
  
  .login-container__footer{
    display:flex;
    align-items: center;
    justify-content: center;
  }