.reset {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reset__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(70px);
    border-radius: 16px;
  }
  
  .reset__container a{
    color:rgba(234, 238, 19, 0.4);
  }

  .reset__container a:hover {
    color:rgba(234, 238, 19, 0.8);
  }

  .reset__textBox {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: none;
    opacity: 0.8;
  }
  .reset__btn {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 10px;
    border: none;
    color: white;
    background-color: #232526;
    border-radius: 8px;
  }

  .reset__btn:hover {
    background-color:black;
    cursor:pointer;
  }

  .reset div {
    margin-top: 7px;
  }