.gameHistory {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  /* filter: blur(70px); */
}

.gameHistoryHeader {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
}

.gameHistoryHeader__logoText__top {
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;

  color: #eaee13;
}

.gameHistoryHeader__logoText__bottom {
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 32px;
  margin-left: 5.5rem;

  color: #ffffff;
}

.gameHistory h1 {
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 78px;

  color: #ffffff;
}

.gameHistoryHeader__backToHomeButton {
  width: 190px;
  height: 55px;
  background: rgba(242, 7, 7, 0.4);
  border: none;
  border-radius: 22px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in-out;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;

  color: black;
}

.gameHistoryHeader__backToHomeButton:hover {
  background-color: rgba(242, 7, 7, 0.8);
  border: 1px solid black;
}

.gameHistoryBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.gameHistoryBody__table {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(70px);
  border-radius: 16px;
  padding: 1.5rem;
  width: 70%;
}

.gameHistoryBody__table__header {
  display: flex;
  justify-content: center;
  gap: 2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 1rem;
}

.gameHistoryBody__table__header p {
  width: 8rem;
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;

  color: #ffffff;
}
.gameHistoryBody__table__body {
  height: 45vh;
  scrollbar-width: none;
  overflow: auto;
  margin-top: 0.5rem;
}

::-webkit-scrollbar {
  display: none;
}

.gameHistoryBody__table_body_row {
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  margin: 1rem 2rem;
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(70px);
  padding: 1rem;
  text-align: start;
  border-radius: 16px;
  transition: all 0.2s ease-in-out;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.25); */
}

.gameHistoryBody__table_body_row:hover {
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(70px);
  cursor: pointer;
}

.gameHistoryBody__table_body_row p {
  width: 8rem;
  font-family: "Sarala-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 33px;
  color: #000000;
}

.gameHistoryButtons {
  display: flex;
  flex-direction: row;
}
